{% extends 'dummy.html' %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block body_block %}
<style>
    iframe
    {
        margin: 100px;
    }
</style>
<body>
    <center>
        <iframe width="760" height="615" src="https://www.youtube.com/embed/NSmzueYlFUY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </iframe>
    </center>
</body>

{% endblock %}