

  {% extends 'dummy.html' %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block body_block %}
<style>
    *
    {
        background-color: rgb(0, 0, 0);
    }
</style>

<body>
    <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="+" class="img-fluid"/>
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#!" class="btn btn-primary">Button</a>
        </div>
      </div>
    
</body>

{% endblock %}